.image-upload .img-box {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.image-upload .img-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
